@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Montserrat', sans-serif;


}
body{
    background-color: #f1f1f1;
    background-image: url("./10_21/367502-PAXLKG-681.jpg");
    background-attachment: fixed;
    background-size: cover;
    color:#272838;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;

}.conteiner{
    background-color: #FDFFFC;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    display: flex;
    margin: 20px;
    width: 100%;
    max-width: 750px;
    min-height: 500px;
    padding: 0 40px;
    position: relative;
    box-shadow: 10px 10px 20px #27283854;
}.form__login{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    justify-content: center;
}.logo__g{
    width: 100%;
    padding: 30px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}.logo__g img{
  width: 100%;
}
.fundologo1{
    position: absolute;
    width: 85%;
    z-index: -5;
    
    opacity: .9;
}.fundologo2{
    position: absolute;
    z-index: -5;
    opacity: .7;
}
.input__default{
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  min-width: 70px;
  resize: none;
  margin:  10px 0;
  
}
.button__default{
  color: #FDFFFC;
  background-color: #296FB5;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 18px;
  cursor: pointer;
}
h1{
  font-size: 3em;
  font-weight: 400;
}

.animacao1 {

    animation: movimento 15s ease-in-out 0s infinite alternate;
  }
  
  @keyframes movimento {
 
    30% {
      transform: rotate3d(0, 0, 1, 13deg);
    }
    50% {
      transform: rotate3d(0, 0, 1, -25deg);
    }
  
  }
.animacao2 {

    animation: movimento2 10s ease-in-out 0s infinite;
  }
  
  @keyframes movimento2 {
     10% {
      transform: scale(1);
    }
  
    33% {
      transform: scale(1.2);
    }
   
    80% {
      transform: scale(.8);
    }
  }
  a{
    color:#296FB5;
    text-decoration: none;
  }
  a:active{
    color:#296FB5;
  }
  a:hover{
    color:#E4B363;
  }a:visited{
    color:#EF6461
  }
  .button__default--warning{
    background-color:#EF6461;
    color: #FDFFFC;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 0px 0 20px;
    cursor: pointer;
    font-size: 18px;
  }
  button:hover{
    opacity: .8;
  }
  .displayflex{
    display: flex;
    justify-content: space-between ;
  }
  .displayflexColum{
    display: flex;
    flex-direction: column;
  }
 label + label {
   margin-left: 20px;
 }
 .input__default--importante{
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin:  10px 0;
  font-weight: 700;
  color: #EF6461;
  text-align: center;
  margin-bottom: 20px;
 }
 .input__gerencia{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;
   margin: 20px 0;
 }.form__gerencia{
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
}.logo__p{
  width: 100px;
  padding: 30px;
  position: absolute;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}.logo__p img{
width: 100%;
}.menu__default{
  background: none;
  border:none;
  border-bottom:  3px solid white;
  cursor: pointer;
}
.menu__default:hover{
  color: #296FB5;
  border-bottom:  3px solid #296FB5;
}
.menu__default:focus{
  border: none;
}
.menu__default--active{
  color: #296FB5;
  background: none;
  border: none;

  border-bottom:  3px solid #296FB5;
  cursor: pointer;
}
.menu{
  display: flex;
  justify-content: space-between;
}